{% extends "base.html" %}
{% load static %}

{% block nav_name %}About Us{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/score_and_about.css' %}">
{% endblock %}

{% block content %}
<div id="about-us-bg">
    <div class="text-bg-overlay-us">
        <div class="container-lg logo-font letter-spacing text-bg">
            <div class="row top-space"></div>
            <div class="row px-1">
                <div class="col text-center">
                    <h2 class="logo-font text-uppercase">About Us</h2>
                </div>
                <hr class="mt-4">
            </div>
            <div class="row mb-4 px-2">
                <div class="col-12 mt-1 mt-md-3">
                    <h3 class="text-uppercase text-center">
                        Meet our hackathon team: <strong>code troopers</strong>
                    </h3>
                </div>
                <div class="col-12 text-center">
                    <img class="abous-us-image" loading="lazy"
                        src="https://res.cloudinary.com/dcrbeonr9/image/upload/v1716720124/StarWars%20Hackathon/star-wars-troopers_q43z4o.jpg"
                        alt="Image of the Star Wars Troopers.">
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Tomas">
                        <img class="thumb-image" loading="lazy"
                            src="https://avatars.githubusercontent.com/u/129102265?v=4"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Tomas.">
                        <span> Tomas K.</span>
                        <p class="fs-6 my-1 py-0">Role: Scrum Master</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Tom&#x60;ash Ku&#x60;ban&#x60;cik, a disciplined Clone Wars veteran, now brings his
                        organizational prowess to
                        the role of Scrum Master. He coordinates the team's efforts with military precision, ensuring
                        smooth project progression.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Clone Coordination &#x2012; Can manage and synchronize team efforts with the efficiency and
                        discipline of a clone battalion.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Tomas anchored the team and with his experience removed any obstacles the team had to focus on
                        delivering the project in a timely manner. He also had a major hand in building the game&#x60;s
                        infrastructure.
                    </p>
                    <div class="w-100 h-100 small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/tomik-z-cech" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Tomas's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/tomas-kubancik/" target="_blank" rel="noopener"
                                    aria-label="Visit Tomas's LinkedIn Account, opens in new tab" class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Szymon">
                        <img class="thumb-image" loading="lazy"
                            src="https://avatars.githubusercontent.com/u/130840690?v=4"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Szymon.">
                        <span> Szymon S.</span>
                        <p class="fs-6 my-1 py-0">Role: Visual Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Sy&#x60;Mon Ste&#x60;pian, a brilliant engineer and visual artist, oversees the game&#x60;s
                        visual fidelity.
                        His work ensures that every scene is rendered with the same care he once gave to repairing
                        droids and starships.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Droidsmith&#x60;s Eye &#x2012; Has a precise and artistic vision that ensures every visual
                        element is detailed and high&#x2011;quality.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Szymon with his artistic force built the user interface structure and the experience of the game
                        was seamlessly enhanced.
                    </p>
                    <div class="w-100 h-100 small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/ObiOne84" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Szymon's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/szymon-stepien-4b60a547/" target="_blank"
                                    rel="noopener" aria-label="Visit Szymon's LinkedIn Account, opens in new tab"
                                    class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Liam">
                        <img class="thumb-image" loading="lazy"
                            src="https://media.licdn.com/dms/image/D4E03AQFHV1D0OtRAmQ/profile-displayphoto-shrink_200_200/0/1687453626291?e=1722470400&v=beta&t=WhHjE1IhzJOl_-cE9aK_MnvKbXScPDSOLR9-JLKrH2I"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Liam.">
                        <span> Liam B.</span>
                        <p class="fs-6 my-1 py-0">Role: Wireframe Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Liam Bla&#x60;kor, a rogue smuggler turned Rebellion tactician, excels in planning and layout.
                        His
                        strategic mind now shapes the wireframe of the game, ensuring a seamless and intuitive player
                        experience.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Tactical Mind &#x2012; Possesses an uncanny ability to strategize and optimize game layout for
                        maximum player engagement.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Liam used his knowledge to shape the UI of the game on multiple different platforms and built
                        the mechanic of the final boss stage in the game.
                    </p>
                    <div class="w-100 h-100 small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/Liam-WB" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Liam's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/liam-blake-985239225/" target="_blank"
                                    rel="noopener" aria-label="Visit Liam's LinkedIn Account, opens in new tab"
                                    class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Lorenz">
                        <img class="thumb-image" loading="lazy"
                            src="https://media.licdn.com/dms/image/D4E03AQGH9AW3BYKabw/profile-displayphoto-shrink_200_200/0/1713158170267?e=1722470400&v=beta&t=X5DNRwYgggyBcSNb6nwOFolswCf3eR1Dmf_I7ozKcag"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Lorenz.">
                        <span> Lorenz B.</span>
                        <p class="fs-6 my-1 py-0">Role: Image&#x26;Audio Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Lor&#x60;enz, a former Sith acolyte who found redemption, harnesses the power of visual and
                        auditory
                        elements to create a deeply atmospheric game. His past imbues his work with a unique intensity.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Dark Side Resonance &#x2012; Can create immersive and emotionally powerful audiovisual
                        experiences by channeling his intense past.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Lorenz compiled a library of Star Wars Media&#x3b; which is showcased throughout the game
                        ranging from audio and images.
                    </p>
                    <div class="w-100 h-100 small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/Lorenz-127" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Lorenz's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/lorenz-b-swe/" target="_blank" rel="noopener"
                                    aria-label="Visit Liam's LinkedIn Account, opens in new tab" class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Deepesh">
                        <img class="thumb-image" loading="lazy"
                            src="https://avatars.githubusercontent.com/u/166607024?v=4"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Deepesh.">
                        <span> Deepesh P.</span>
                        <p class="fs-6 my-1 py-0">Role: Content Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Deep&#x60;esh is a former Jedi Archivist who now leads content creation, drawing upon ancient
                        holocrons and forgotten lore to develop a rich and immersive game narrative that captures the
                        depth of the Star Wars universe.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Holocron Mastery &#x2012; Has access to ancient Jedi and Sith holocrons, providing unparalleled
                        knowledge and inspiration for content creation.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Deepesh used his creative force to brainstorm the skeleton of the of the game and support with
                        building content for the game.
                    </p>
                    <div class="w-100 h-100 small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/Deepeshpatel11" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Deepesh's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/deepesh-patel-1b9747307/" target="_blank"
                                    rel="noopener" aria-label="Visit Deepesh's LinkedIn Account, opens in new tab"
                                    class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Viktor">
                        <img class="thumb-image" loading="lazy"
                            src="https://media.licdn.com/dms/image/D4E03AQEZy2kT-c57Xw/profile-displayphoto-shrink_200_200/0/1708293400264?e=1722470400&v=beta&t=hUupMjdzu8etjhAcqFhDA3SvM1T6tHGzH7lsyT9NbLA"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Viktor.">
                        <span> Viktor R.</span>
                        <p class="fs-6 my-1 py-0">Role: Quiz Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Vik&#x60;Tor Rura, a cunning intelligence officer for the Republic, now designs engaging quizzes
                        and
                        challenges. His background in espionage ensures that every task is both challenging and
                        rewarding.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Mind Probe &#x2012; Can create intricate and thought-provoking quizzes that challenge
                        players&#x60;
                        knowledge and intuition..
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Viktor used his Star Wars knowledge to build a vast library of Trivia questions for five
                        different characters with in the game.
                    </p>
                    <div class="w-100 h-100 small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/rurakite" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Viktor's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/viktor-rura/" target="_blank" rel="noopener"
                                    aria-label="Visit Viktor's LinkedIn Account, opens in new tab" class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Amir">
                        <img class="thumb-image" loading="lazy"
                            src="https://avatars.githubusercontent.com/u/163753630?v=4"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Amir">
                        <span> Amir A.</span>
                        <p class="fs-6 my-1 py-0">Role: Mechanic Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Ameer Ahm&#x60;Jed is a legendary Jedi Knight whose expertise in the mechanics of the Force and
                        starship engineering is unmatched. As the Mechanic Lead, he ensures that the game&#x60;s
                        mechanics
                        are as fluid and engaging as the lightsaber duels he mastered.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Force Engineering &#x2012; Can intuitively understand and manipulate any mechanical or
                        technological device with the Force.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Amir provided his star wars knowledge to build the project idea and team dynamic as a true jedi.
                    </p>
                    <div class="small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/AmirAkmed" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Amir's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/amir-ahmed-brm-uk/" target="_blank" rel="noopener"
                                    aria-label="Visit Amir's LinkedIn Account, opens in new tab" class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <div class="fs-3" id="Jamie">
                        <img class="thumb-image" loading="lazy"
                            src="https://avatars.githubusercontent.com/u/123118240?v=4"
                            onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrbeonr9/image/upload/v1716718135/StarWars%20Hackathon/trooper_avatar_dg1no7.jpg';"
                            alt="Profile image of Jamie.">
                        <span> Jamie O.</span>
                        <p class="fs-6 my-1 py-0">Role: Design Lead</p>
                    </div>
                    <p class="m-0 p-0"><strong>Bio:</strong></p>
                    <p class="m-0 p-0">
                        Jae&#x2011;Mi, a top starfighter pilot and ace designer, now uses her keen eye for detail and
                        design to
                        craft visually stunning interfaces, ensuring the game is as beautiful as the twin sunsets of
                        Tatooine.
                    </p>
                    <p class="m-0 p-0"><strong>Special Ability:</strong></p>
                    <p class="m-0 p-0">
                        Visionary Pilot &#x2012; Can visualize complex designs and user interfaces with the precision
                        and clarity of a starfighter pilot in combat.
                    </p>
                    <p class="m-0 p-0"><strong>Task:</strong></p>
                    <p class="m-0 p-0">
                        Jamie used his creative force to build the aesthetically pleasing design of the game interface
                        with brilliant CSS.
                    </p>
                    <div class="small">
                        <ul class="list-inline">
                            <li class="list-inline-item text-start text-uppercase mb-1">
                                Connect:
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://github.com/jamie33o" target="_blank" class="fs-3" rel="noopener"
                                    aria-label="Visit Jamie's GitHub Account, opens in new tab">
                                    <i class="fa-brands fa-square-github icon glow-font"></i>
                                </a>
                            </li>
                            <li class="list-inline-item pe-lg-2">
                                <a href="https://www.linkedin.com/in/jamie2023/" target="_blank" rel="noopener"
                                    aria-label="Visit Jamie's LinkedIn Account, opens in new tab" class="fs-3">
                                    <i class="fa-brands fa-linkedin icon glow-font"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-space">

        </div>
    </div>
</div>
{% endblock %}