{% extends "base.html" %}
{% load static %}

{% block nav_name %}Final Stage{% endblock %}

{% block extra_css %} 
        <!-- <link rel="stylesheet" href="{% static 'css/finalstage.css' %}"> -->
{% endblock %}

{% block content %}
{% endblock %}

{% block extra_js %}
    <!-- <script src="{% static 'js/finalstage.js' %}"></script> -->
    <script>
        // players name 
        const playerName = '{{ player_name }}';
        // character images
        const characterImage0 = "{% static 'images/characters/yodaa.png' %}"; // Yoda - 0
        const characterImage1 = "{% static 'images/characters/leia.png' %}";  // Leia - 1
        const characterImage2 = "{% static 'images/characters/luke.png' %}"; // Luke - 2
        const characterImage3 = "{% static 'images/characters/vader.png' %}"; // - Vader - 3
        const characterImage4 = "{% static 'images/characters/han.png' %}"; // Solo - 4
        // questionsets per character
        const questionSet0 = "{% static 'questions/yoda.json' %}"; // Yoda - 0
        const questionSet1 = "{% static 'questions/leia.json' %}";  // Leia - 1
        const questionSet2 = "{% static 'questions/luke.json' %}"; // Luke - 2
        const questionSet3 = "{% static 'questions/vader.json' %}"; // - Vader - 3
        const questionSet4 = "{% static 'questions/solo.json' %}"; // Solo - 4
        // background music
        const m1 = "{% static 'audio/m1.mp3' %}"; // sw theme - start & finish chapter
        const m2 = "{% static 'audio/m2.mp3' %}"; // question asked - chapter 1
        const m3 = "{% static 'audio/m3.mp3' %}"; // march of troopers - didnt finish chapter
        const m4 = "{% static 'audio/m4.mp3' %}"; // question asked - chapter 2
        const m5 = "{% static 'audio/m5.mp3' %}"; // question asked - chapter 3
        // background images
        const back1 = "{% static 'images/backgrounds/back1.jpg' %}";
        const back2 = "{% static 'images/backgrounds/back2.jpeg' %}";
        const back3 = "{% static 'images/backgrounds/back3.jpeg' %}";
        // artefact images/backgrounds/back0.jpeg
        const artefact1 = "{% static 'images/artefacts/artefact1.png' %}";
        const artefact2 = "{% static 'images/artefacts/artefact2.png' %}";
        const artefact3 = "{% static 'images/artefacts/artefact3.webp' %}";
        // lifeline images
        const yodaLifeline = "{% static 'images/lifelines/yoda.png' %}";
        const leiaLifeline = "{% static 'images/lifelines/leia.png' %}";
        const hanLifeline = "{% static 'images/lifelines/han.png' %}";
        const vaderLifeline = "{% static 'images/lifelines/vader.png' %}";
        const lukeLifeline = "{% static 'images/lifelines/luke.png' %}";
    </script>
{% endblock %}