{% extends "base.html" %}
{% load static %}

{% block nav_name %}Play{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/play.css' %}">
{% endblock %}

{% block content %}
    <div id="screen-container">
        <span>
            <a href="{% url 'home' %}" aria-label="Close Game">
                <i class="fa-regular fa-circle-xmark"></i>
            </a>
        </span>
        <div id="game-container">
        </div>
    </div>
    <div id="cover-mask">
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/play.js' %}"></script>
    <script>
        const playerName = '{{ player_name }}';
        const characterImage0 = "{% static 'images/characters/yodaa.png' %}" // Yoda - 0
        const characterImage1 = "{% static 'images/characters/leia.png' %}"  // Leia - 1
        const characterImage2 = "{% static 'images/characters/luke.png' %}" // Luke - 2
        const characterImage3 = "{% static 'images/characters/vader.png' %}" // - Vader - 3
        const characterImage4 = "{% static 'images/characters/han.png' %}" // Solo - 4
        const questionSet0 = "{% static 'questions/yoda.json' %}" // Yoda - 0
        const questionSet1 = "{% static 'questions/leia.json' %}"  // Leia - 1
        const questionSet2 = "{% static 'questions/luke.json' %}" // Luke - 2
        const questionSet3 = "{% static 'questions/vader.json' %}" // - Vader - 3
        const questionSet4 = "{% static 'questions/solo.json' %}" // Solo - 4
        const afterChaptersLink = "{% url 'home' %}"
    </script>
{% endblock %}