{% extends "base.html" %}
{% load static %}

{% block nav_name %}My Profile{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <h1>
        My Profile
    </h1>
    <br>
    Hello {{ userprofile }},
    <br>
    So far you played {{ userprofile.games_played }} games.
    <br>
    Your highest score is {{ userprofile.highest_score }}.
    <br>
    Your cummulative score is {{ userprofile.cummulative_score }}.
    <br>
    Your average score is {{ userprofile.average_score }}.
{% endblock %}