
.user_card {
    height: fit-content;
    width: fit-content;
    margin: 50px;
    background: var(--dark-foreground);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: var(--light-foreground);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    color: black;
}  

.form button {
    background-color: var(--dark-foreground);
    color: var(--light-foreground);
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: var(--light-background);
    transition: background-color 0.3s;
}

.form a {
    color: white;
    background-color: var(--dark-foreground);
    padding: 5px;
    border-radius: 10px;
}

.form a:hover {
    background-color: var(--light-background);
}

.form input[name="email"], .form label[for="id_email"], .form small a {
    display: none;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: var(--dark-foreground);
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}


@media screen and (max-width: 578px) {
    .user_card {
        width: 100%;
        margin: 50px 0;
    }
}