/* Footer styles */

#footer {
    background-color: var(--dark-background);
    --bs-gutter-x: none;
    color: #efff14;
    border-top:1px solid #efff14;
}

/* ----- Footer ----- */
.footer-arrow {
    color: #efff14;
    background-color: var(--dark-background);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100px;
    border-top: 1px solid #efff14;
    border-left: 1px solid #efff14;
    border-right: 1px solid #efff14;
    cursor: pointer;
    margin: auto;
    margin-bottom: -1px;
}

.icon {
    text-decoration: none;
    color: #efff14;
}

@media (max-width: 425px) {
    /* CSS styles for screens smaller than 576 pixels */
    .footer-arrow {
        width: 80px
    }
}