/* Landing page style sheet */

main {
    height: 85vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-bg {
    background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716585890/StarWars%20Hackathon/death-star-nologo_lapnjy.jpg');
    background-size: cover;
    background-position: center;
    animation: starfield 60s linear infinite;
}

@keyframes starfield {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 12000px 1000px;
    }
}

#menu-container {
    width: 30vw;
    text-align: center;
}

#navbar {
    background-color: rgb(255, 255, 255, 0.0);
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 10px;
    
}

.menu-item:hover,
.menu-item.active {
    background-color: var(--dark-background);
    border: 1px solid #efff14;
    box-shadow: 2px 2px 2px rgba(239, 255, 20, 0.6);
}

@media (max-width: 1224px) {
    /* CSS styles for screens smaller than 1224 pixels */
    #menu-container {
        width: 40vw;
    }
}

@media (max-width: 1024px) {
    /* CSS styles for screens smaller than 1024 pixels */
    #menu-container {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    /* CSS styles for screens smaller than 768 pixels */
    #menu-container {
        width: 60vw;
    }
}

@media (max-width: 576px) {
    /* CSS styles for screens smaller than 425 pixels */
    #menu-container {
        width: 90vw;
    }
}