/* Main style sheet */

/* Imports */

@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
    /* FONTS */
    --main-font: 'Orbitron', sans-serif;
    --mid-font: 'Star Wars', sans-serif;

    /* COLOR PALETTE */
    --light-foreground: #f1ee8e;
    --mid-foreground: #e5de00;
    --dark-foreground: #e69b00;

    --light-background: #3b444b;
    --light-background-opaque: rgba(59,68,75,0.5);
    --dark-background: #0e1111;
    --dark-background-opaque: rgba(14,17,17,0.8);
}

body {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

/* WebKit Scrollbar Styling */
::-webkit-scrollbar {
    width: 18px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #000; /* Track color (black) */
}

::-webkit-scrollbar-thumb {
    background: var(--dark-foreground); /* Handle color (blue) */
    border: 2px solid #fff; /* White border */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-foreground); /* Handle color on hover (dark blue) */
}

/* Firefox Scrollbar Styling */
body {
    scrollbar-width: thin;
    /* scrollbar-color: #4287f5 #000; */
}

/* Adjust scrollbar corner */
::-webkit-scrollbar-corner {
    background: transparent; /* Hide scrollbar corner */
}

/* Space and letter spacing for scores and about pages */
.top-space {
    height: 15vh;
}

.letter-spacing {
    letter-spacing: 1px;
}

/* modal */
.modal-header,
.modal-body,
.modal-footer,
.custom-modal {
    color: #efff14;
    background-color: var(--dark-background);
    border-bottom: 1px solid #efff14;
    
    
}
.custom-modal {
    border: 1px solid #efff14;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(239, 255, 20, 0.6);
    transition: box-shadow 0.3s ease;
}

.custom-modal:hover {
    box-shadow: 15px 15px 20px rgba(239, 255, 20, 0.6);
}

.text-bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
    width: 100%;
}