/* Style sheet for game page */

#screen-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-background);
}

#game-container {
    height: 95vh;
    width: 95vw;
    align-self: center;
    justify-self: center;
    background-color: var(--dark-background);
    display: grid;
}

#message-container {
    justify-self: center;
    align-self: center;
    background-color: var(--light-background);
    height: 80%;
    width: 80%;
    display: grid;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    color: var(--mid-foreground);
}
