/* Style sheet for game page */

#screen-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-background);
    font-family: var(--main-font);
}

#game-container {
    height: 95vh;
    width: 95vw;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    display: grid;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#message-container {
    font-size: 150%;
    justify-self: center;
    align-self: center;
    background-color: var(--dark-background-opaque);
    height: 80%;
    width: 80%;
    display: grid;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    color: var(--mid-foreground);
    filter: drop-shadow(5px 5px 5px var(--light-foreground));
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

.enlarge-on-hover {
    scale: 1;
    transition: 0.5s ease-in-out;
}

.enlarge-on-hover:hover {
    scale: 1.2;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px var(--light-foreground));
}

.character-image {
    width: 30vh;
    height: 30vh;
}

#current-player-image-container {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 23vh;
    height: 23vh;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.current-player-image {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 5px var(--dark-foreground));
}

#artefact-image-container {
    background-color: var(--dark-background-opaque);
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 20vh;
    height: 60vh;
    border: 2px solid var(--mid-foreground);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.artefact-image {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 5px var(--dark-foreground));
}

#timer-container {
    background-color: var(--dark-background-opaque);
    position: absolute;
    flex-direction: column;
    top: 6%;
    left: 25%;
    width: 20vw;
    height: 23vh;
    border: 2px solid var(--mid-foreground);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#lifelines-container {
    background-color: var(--dark-background-opaque);
    position: absolute;
    flex-direction: column;
    top: 6%;
    left: 50%;
    width: 20vw;
    height: 23vh;
    border: 2px solid var(--mid-foreground);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#question-container {
    background-color: var(--dark-background-opaque);
    position: absolute;
    top: 35%;
    left: 25%;
    width: 70vw;
    height: 25vh;
    border: 2px solid var(--mid-foreground);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#answers-container {
    background-color: var(--dark-background-opaque);
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: 70vw;
    height: 25vh;
    border: 2px solid var(--mid-foreground);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#score-container {
    background-color: var(--dark-background-opaque);
    position: absolute;
    flex-direction: column;
    top: 6%;
    right: 5%;
    width: 20vw;
    height: 23vh;
    border: 2px solid var(--mid-foreground);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.inline-block {
    display: inline-block;
}

#running-timer,
#running-score {
    font-size: 300%;
    font-family: var(--main-font);
}

#question-space {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    padding: 2vh;
}

.answer-option {
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mid-foreground);
    transition: all 0.5s ease-in-out;
}

.answer-option:hover {
    cursor: pointer;
    color: var(--dark-background);
    background-color: var(--light-foreground);
}

#answer-a {
    top: 0%;
    left: 0%;
}

#answer-b {
    top: 0%;
    right: 0%;
}

#answer-c {
    bottom: 0%;
    left: 0%;
}

#answer-d {
    bottom: 0%;
    right: 0%;
}

#cover-mask {
    background-color: transparent;
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 999;
}