@keyframes changeBackground {
    0% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716669904/StarWars%20Hackathon/game-bg-good_pg68ar.png');
    }

    15% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716672460/StarWars%20Hackathon/spaceship-fight_xj0ea0.jpg');
    }

    30% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716673885/StarWars%20Hackathon/dark-star-bg_lylv9n.jpg');
    }

    50% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716672661/StarWars%20Hackathon/star-war-battle-16-9_apztmz.jpg');
    }

    85% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716669904/StarWars%20Hackathon/game-bg-good_pg68ar.png');
    }

    100% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716669904/StarWars%20Hackathon/game-bg-good_pg68ar.png');
    }
}


/* Leaderboard  */
#leaderboard-bg {
    animation: changeBackground 60s infinite;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -50px;
}

.score-table {
    border-color: #efff1493;
    color: #efff14;
    background-color: var(--light-background-opaque);
}

.title-color {
    color: #efff14;
}

.letter-spacing {
    letter-spacing: 1px;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    min-width: 100%;
    overflow-x: auto;
}

.table-container table {
    min-width: 600px;
    table-layout: fixed;
    --bs-table-hover-color: #efff14;
    --bs-table-hover-bg: var(--dark-background);
}

th,
td {
    padding: 8px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    vertical-align: middle;
}

.table-container table::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background-color: var(--dark-background) !important;
    ;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #efff14 !important;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #efff14;
    border: 2px solid #000000;
}

@keyframes changeBackgroundAbout {
    0% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716748046/StarWars%20Hackathon/spaceship-8616630_1920_ucctnp.jpg');
    }

    15% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716723692/StarWars%20Hackathon/star-wars-leaderboard_qzofoi.jpg');
    }

    30% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716673885/StarWars%20Hackathon/dark-star-bg_lylv9n.jpg');
    }

    50% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716672661/StarWars%20Hackathon/star-war-battle-16-9_apztmz.jpg');
    }

    85% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716669904/StarWars%20Hackathon/game-bg-good_pg68ar.png');
    }

    100% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716748046/StarWars%20Hackathon/spaceship-8616630_1920_ucctnp.jpg');
    }
}

/* How to play  */
#how-to-play-bg {
    animation: changeBackgroundAbout 60s infinite;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    margin: 10% 0 0 0;
    padding: 0;
    margin-bottom: -50px;
}


.text-bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
    width: 100%;
}

.bottom-space {
    height: 100px;
}

   .top-space{
    height: 150px;
    }

.about-img {
    background-color: var(--dark-foreground);
}

.yoda-image {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #efff14;
}

.elliptical-image {
    border-radius: 50% / 25%;
    max-width: 400px;
    height: auto;
    border: 2px solid #efff14;
}

/* About us */
@keyframes changeBackgroundAboutUs {
    0% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716748486/StarWars%20Hackathon/spaceship-2776010_1920_pywoo8.jpg');
    }
    15% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716672460/StarWars%20Hackathon/spaceship-fight_xj0ea0.jpg');
    }

    30% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716673885/StarWars%20Hackathon/dark-star-bg_lylv9n.jpg');
    }
    
    50% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716672661/StarWars%20Hackathon/star-war-battle-16-9_apztmz.jpg');
    }

    85% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716669904/StarWars%20Hackathon/game-bg-good_pg68ar.png');
    }

    100% {
        background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1716748486/StarWars%20Hackathon/spaceship-2776010_1920_pywoo8.jpg');
    }
}

#about-us-bg {
    animation: changeBackgroundAboutUs 60s infinite;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -50px;
}

.text-bg-overlay-us {
    background-color: rgba(0, 0, 0, 0.8);
    height: inherit;
    width: 100%;
}

.thumb-image {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #efff14;
}

.abous-us-image {
    border-radius: 50%;
    max-width: 250px;
    height: auto;
    border: 2px solid #efff14;
}

@media (max-width: 1024px) {

    /* CSS styles for screens smaller than 1024 pixels */

    .top-space {
        margin-top: 10%;
    }
    #how-to-play-bg{
    margin-top: 25%;
    padding-top: 10%;
    }
}

@media (max-width: 770px) {
    /* CSS styles for screens smaller than 770 pixels */
    .elliptical-image {
        display: none;
    }

}