.score-table {
    border-color: #efff1493;
    color: #efff14;
    background-color: var(--light-background);
}

.title-color {
    color: #efff14;
}

.letter-spacing {
    letter-spacing: 1px;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    min-width: 100%;
    overflow-x: auto;
}

.table-container table {
    min-width: 600px;
    table-layout: fixed;
    --bs-table-hover-color: #efff14;
    --bs-table-hover-bg: var(--dark-background);
}

th, td {
    padding: 8px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    vertical-align: middle;
}

.table-container table::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background-color: var(--dark-background) !important;
    ;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #efff14 !important;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #efff14;
    border: 2px solid #000000;
}