{% extends "base.html" %}
{% load static %}

{% block nav_name %}Oops !{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="row">
                <div class="d-flex justify-content-center full-height">
                        <div class="user_card">
                        <div class="d-flex justify-content-center">
                                <div class="brand_logo_container">
                                <img src="{% static 'images/allauth_error_img/Luke.webp' %}" class="brand_logo" alt="Logo">
                                </div>
                        </div>
                        <div class="d-flex justify-content-center form_container">
                                <div class="form text-center">
                                        <h1>Server Error (500)</h1>
                                        <p class="h3 my-4">Sorry, there was an internal server error. Please try again later.</p>
                                        <a href="/">Return to Home</a>
                                </div>
                        </div>
                </div>
        </div>
</div>
{% endblock %}
