{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Block for navigation names -->
    <title>
        {% block nav_name %}{% endblock %}
        | MindWars
    </title>

    <!-- Block Meta -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock %}

    <!-- Block for core CSS styles -->
    {% block core_css %}
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">

    {% endblock %}

    <!-- Block for extra CSS styles -->
    {% block extra_css %}{% endblock %}

    <!-- Block for core JS scripts -->
    {% block core_js %}
    <!-- jquery link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Fontawesome -->
    <script rel="dns-prefetch" src="https://kit.fontawesome.com/d46864ea4e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% endblock %}

    <!-- FavIcon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

</head>
{% block body %}

<body>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Content -->
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <!-- Footer -->
    {% include 'footer.html' %}

    {% block extra_js %}
    <script src="{% static 'js/footer.js' %}"></script>
    {% endblock %}
</body>
{% endblock %}

</html>