{% load static %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<!-- Footer -->
<footer class="fixed-bottom">
    <div class="row m-0 p-0">
        <div class="col-12 text-center">
            <span class="text-center fs-5 footer-arrow arrow-up p-3 d-inline-block">
                <i class="fa-solid fa-angles-up fa-2xl glow-font"></i>
            </span>
            <span class="text-center fs-5 footer-arrow p-3 arrow-down d-inline-block d-none">
                <i class="fa-solid fa-angles-down fa-2xl glow-font"></i>
            </span>
        </div>
    </div>
    <div class="row w-100 collapse" id="footer">
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center ps-4">
            <div class="w-100 text-center text-sm-start small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase fs-5">
                        <a href="#" class="icon" aria-label="Follow this link to find more about us">
                            <span class="footer-link">About Us</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase fs-5">
                        <a href="#" aria-label="Follow this link to find out more about the game" class="icon">
                            <span class="">About Game</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase footer-link fs-5">
                        <a href="https://starwars.fandom.com/wiki/Hyperspace:_The_Official_Star_Wars_Fan_Club" aria-label="Visit StarWars fan club page and meet your favourite characteres" class="icon" rel="noopener">
                            <span class="">StarWars Fan Club</span>
                        </a>
                    </li>
                    <!-- <li class="list-item text-uppercase">
                        <a href="#" aria-label="Read online bookstore privacy policy" class="icon">
                            <span class="">Something Here</span>
                        </a>
                    </li> -->
                </ul>
                <hr class="my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center">
            <div class="w-100 text-center small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase fs-5 mb-1">
                        <span>Connect:</span>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.facebook.com/" target="_blank" class="display-6" rel="noopener"
                            aria-label="Visit MindWars Facebook page.">
                            <i class="fa-brands fa-square-facebook icon glow-font"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.twitter.com/" target="_blank" aria-label="Visit MindWars Twitter account."
                            class="display-6" rel="noopener">
                            <i class="fa-brands fa-x-twitter icon glow-font"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.instagram.com/" target="_blank" aria-label="Visit MindWars Instagram page."
                            class="display-6" rel="noopener">
                            <i class="fa-brands fa-instagram icon glow-font"></i>
                        </a>
                    </li>
                </ul>
                <hr class="my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-6 my-0 my-sm-3 d-flex align-items-center">
            <div class="text-center w-100 h-100 small">
                <ul class="list-inline">
                    <li class="list-item fs-5 text-uppercase mb-1">
                        Work with us:
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://github.com/ObiOne84" target="_blank" class="display-6" rel="noopener"
                            aria-label="Visit Developer's GitHub Account, opens in new tab">
                            <i class="fa-brands fa-square-github icon glow-font"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.linkedin.com/in/szymon-stepien-4b60a547/" target="_blank" rel="noopener"
                            aria-label="Visit Developers' LinkedIn Account, opens in new tab" class="display-6">
                            <i class="fa-brands fa-linkedin icon glow-font"></i>
                        </a>
                    </li>
                </ul>
                <div class="small fst-italic mb-3 mb-sm-0 footer-font">Copyright &copy; MindWars 
                    <span id="copyright"></span>
                    <span class="d-block">Created by: <strong>Code Troopers</strong></span>
                </div>
            </div>
        </div>
    </div>
</footer>