{% load static %}

<header class="text-center">
  <nav class="navbar navbar-dark fixed-top" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand glow-font" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="MindWars logo" id="logo">
      </a>
      <button class="navbar-toggler m-2" id="menu-custom-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end offcanvas-custom-bg" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title side-title text-uppercase" id="offcanvasDarkNavbarLabel">MindWars</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-start offcanvas-custom-bg">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                <i class="fa-solid fa-house mx-2 mx-lg-0 nav-text"></i>
                <span class="nav-text">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'top_players' %}">
                <i class="fa-solid fa-chart-simple mx-2 mx-lg-0 nav-text"></i>
                <span class="nav-text">Leaderboard</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user mx-2 mx-lg-0 nav-text"></i>
                <span class="nav-text">My Account</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                {% if request.user.is_authenticated %}
                <li><a class="dropdown-item nav-text" href="{% url 'profile_manager' %}">
                    <i class="fa-regular fa-id-card me-1 nav-text icon"></i> My Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">
                    <i class="fa-solid fa-right-from-bracket fa-flip-horizontal me-1 nav-text"></i> Logout
                  </a>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item" href="{% url 'account_login' %}">
                    <i class="fa-solid fa-right-to-bracket me-1 nav-text"></i> Login
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_signup' %}">
                    <i class="fa-solid fa-user-plus me-1 nav-text"></i> Register
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'about_us' %}">
                <i class="fa-solid fa-people-group mx-2 mx-lg-0 nav-text"></i>
                <span class="nav-text">About Us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>